<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.brown.dispatcher.smsremotecontroller" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".SmsRemoteAdmin" android:label="@string/app_name">
			
		</activity>
		
		<activity android:name=".SmsRemoteMain" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver android:name=".SmsRemoteReceiver">
			<intent-filter>
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
				<action android:name="com.brown.dispatcher.smsremotecontroller.TRYIT" />
			</intent-filter>
		</receiver>
		
		<activity android:name=".SmsRemoteKeywordEdit" android:label="@string/app_name">
		</activity>

	</application>
	<uses-permission android:name="android.permission.RECEIVE_SMS">
	</uses-permission>
	<uses-permission android:name="android.permission.SEND_SMS">
	</uses-permission>


<uses-sdk android:minSdkVersion="4"></uses-sdk>
</manifest> 